div.project7{
	border-style: dotted;
	border-color: #ff0000;
	margin: auto;
	padding: 10px;
}
span.projectSpan{
	outline-style:solid;
	outline-color:#aa1100;
	outline-width:2px;
	color: #ee0000;
	margin: 10px;
}
body p{
	font-family:Georgia;
	font-size: 24px;
	color: #dd0000;
	font-weight:bold;
	letter-spacing: 2px;
}
body h4{
	font-family: Verdana;
	font-size:18px;
	font-variant: small-caps;
	font-weight: bold;
}