h1 { color: red; } 
p  { color: red; font-family: courier; font-size: 160%; }

#paragraf1 {color: #ff11aa; font-family: georgia; font-size: 200%;}

p.paragraf2 {color:#10aa00; font-family:consolas; font-size: 180%;}



//h1 sets the style for headings <'h1>
//p sets the style for pharagraphs
//paragraf1 sets the style for a particular paragraphs (paragraf1 is the id of a certain paragraph),
//the # sign means that the object is referenced by id value.
//p.paragraf2 is used to reference an object by class name "paragraf2".