#image1{
	margin: auto;
}
#table1{
	width: 500px;
	padding: 10px;
	margin: 10px;
	text-align: right;
	background-color:yellow;
	opacity:0.6;
	font-weight:bold;
}
table{
	padding-left:20px;
	padding-right:20px;
	background-color:lightblue;
}
table th{
	background-color: pink;
	border-width: 1px;
	font-variant: small-caps;
}
#orderedList1{
	text-align:right;
	font-family: Verdana;
	font-size:15px;
	color:#ff0000;
	font-weight:bold;
	padding: 10px;
}
h3{
	font-family: Tahoma;
	font-size:18px;
	text-shadow: 2px 2px 3px lightblue;
}